 footer {
  width: 100%;
  height: 216px;
  background-color: #E7ECFF;
}


.first-floor {
  padding-top: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-floor > p {
  font-size: 14px;
  font-weight: 500;
  color: #939EA4;
}

.first-floor > span {
  font-weight: 900;
  font-size: 26px;
  color: #37447E;
}

.button-footer {
  border: none;
  width: 109px;
  height: 26px;
  background-color: #111B47;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 1s;
}

.button-footer:active {
  transform: scale(1.1);
}

.line {
  background-color:#CDD1D4;
  width: 1440px;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.second-floor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 669px;

}

.left-side {
  display: flex;
  gap: 60px;
}

.left-side > a {
  color: #929ECC;
  font-size: 14px;
  text-decoration: none;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 376px) {

  .first-floor {
    position: relative;
    margin: 0 16px;
    padding-bottom: 35px;
  }
  .first-floor > span {
    position: absolute;
    top: 0;
    left: 0;
    margin: 35px 0 0 16px;
  }
  .first-floor > p {
    position: absolute;
    top: 0;
    right: 0;
    margin: 35px 16px 7px 0;
  }
  .button-footer {
    position: absolute;
    top: 0;
    right: 0;
    margin: 66px 16px 0 0;
  }

  .second-floor {
    flex-direction: column;
    gap: 57px;
    margin-top: 27px;
    margin-bottom: 77px;
  }
  .line {
    max-width: 343px;
  }
  footer {
    height: 328px;
  }
}

