.last-container {
  max-width: 1440;
  height: 783px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.last-container > span {
  font-size: 36px;
  font-weight: 500;
  color: #091133;
  margin-bottom: 16px;
}

.text-last-con {
  color: #6F7CB2;
  font-size: 16px;
  text-align: center;
  width: 600px;
}

.cost {
  font-size: 50px;
  font-style: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #222F65;
  margin-top: 35px;
}

.under-cost {
  font-size: 16px;
  color: #6F7CB2;
}

.last-text {
  font-style: 14px;
  color: #6F7CB2;
  margin-top: 61px;
}