.middle-container {
  display: flex;
  flex-direction: column;
  gap: 223px;
}

.middle-first-block, 
.middle-second-block,
.middle-third-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topic {
  font-size: 36px;
  font-weight: 500;
  color: #091133;
  margin-bottom: 16px;
}

.under-topic {
  font-size: 16px;
  width: 445px;
  color: #6F7CB2;
}

.block-text {
  display: flex;
  flex-direction: column;
}

.button-under-topic {
  height: 32px;
  width: 150px;
  border-radius: 2px;
  background-color: #111B47;
  margin-top: 40px;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  transition-duration: 1s;
}

.button-under-topic:active {
  transform: scale(1.1);
}

@media screen and (max-width: 376px) {
  .middle-first-block, 
  .middle-second-block,
  .middle-third-block {
    flex-direction: column;
    width: 343px;
  }
  .middle-container {
    gap: 50px;
    margin: 0 16px;
  }
  .topic {
    font-size: 26px;
    margin-bottom: 16px;
  }
  .button-under-topic {
    margin: 0 auto;
    margin-top: 26px;
  }
  [class$="block"] > img {
    width: 300px;
    margin-bottom: 26px;
  }
  .under-topic {
    width: 343px;
    line-height: 162%;
  }
}

    
